<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>RESULTADO</title>
    </head>

    <body>
        <ul>
            <li>
                <a href="{% url 'votacao:index' %}"> INDEX</a>
            </li>
            <li>
                <a href="{% url 'votacao:detalhe' 21 %}"> DETALHE</a>
            </li>
            <li>
                <a href="{% url 'votacao:votar' 21 %}"> VOTAR</a>
            </li>
            <li>
                <a href="{% url 'votacao:resultado' 21 %}"> RESULTADO</a>
            </li>
        </ul>
        <h1>
            Olá, Mundo! Pagina RESULTADO.
        </h1>
    </body>
</html>